<%= render 'pedido_info', pedido: @pedido %>


<%#= link_to edit_image_tag, edit_pedido_path(@pedido) %>
<a href="<%= pedidos_path %>"><button class="btn btn-success fr" role="button" id="save_button">Voltar</button></a>
