<ul class="list-group dados-registro">
  <li class="list-group-item">
    Nome: <%= unidade_medida.nome %>
  </li>
  <li class="list-group-item">
    Nome: <%= unidade_medida.sigla %>
  </li>
</ul>



